form{
    width: 70vw;
    margin: auto;
    display: block ;
    text-align: center;
    margin-top: 20vh;
    outline: 2px;
    border: 2px solid rgb(134, 59, 214);
    border-radius: 10px;
    box-shadow: 10px rgb(33, 41, 48);
}

label{
    padding: 4vw;
    color: rgb(33, 41, 48);
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}

#firstInput{
    font-size: 20px;
    justify-content: center;
    margin-top: 5vh;
}

#main_in{
    margin-top: vh;
}

#main_in input{
    padding: 1vw;
    margin: 2vh;
    min-width: 60vw;
}

#sub{
    font-size: 24px;
    color: white;
    background-color: rgb(134, 59, 214);
    border: 0px;
    border-radius: 4px;
    padding: 1vh 1vw;
    margin-bottom: 3vh;
}

#output{
    width: 70vw;
    border: 2px solid rgb(134, 59, 214);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: auto;
    margin-top: 7vh;
    display: hidden;
}