<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input and Output</title>
    <style>
        .output-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 5px;
        }
    </style>
</head>
<body>

    <h1>Input and Output Page</h1>
<form method="post" target="_self" action="{{ url_for('home') }}">
    <label for="textInput">Text Input:</label>
    <input type="text" id="textInput" name="textInput"  placeholder="Type something...">
    <div class="output-box">
        <strong>Text Output:</strong>
        <p id="textOutput">{% if summarized_text %}
            <h2>Summarized Text:</h2>
            {{ summarized_text }}
            {% endif %}<br><br>{%if keyword%}These are the keywords:<br>{%for kw in keyword%}{{kw}}<br>{%endfor%}<br>
            Some Additional Information scraped from wikipedia based on the keywords from your text:<br><br>
            {% for webs in webscrape%}{{webs}}<br><br>{%endfor%}{%endif%}</p>
    </div>
    <input type="submit" value="Submit">
</form>
<!--
    <label for="urlInput">URL Input:</label>
    <input type="url" id="urlInput" name="urlInput"  placeholder="Enter a URL...">
    <div class="output-box">
        <strong>URL Output:</strong>
        <p id="urlOutput">{% if summarized_url %}
            <h2>Summarized URL:</h2>
            {{ summarized_url }}
            {% endif %}</p>
    </div>
    <input type="submit" value="Submit">


    <label for="fileInput">Choose File:</label>
    <input type="file" id="fileInput" onchange="updateFileOutput()">
    <div class="output-box">
        <strong>File Output:</strong>
        <p id="fileOutput"></p>
    </div>//

<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevents the default form submission behavior
        updateTextOutput();
        updateUrlOutput();
        updateFileOutput();
    });

    function updateTextOutput() {
        var textInputValue = document.getElementById('textInput').value;
        document.getElementById('textOutput').innerText = textInputValue;
    }

    function updateUrlOutput() {
        var urlInputValue = document.getElementById('urlInput').value;
        document.getElementById('urlOutput').innerText = urlInputValue;
    }

    function updateFileOutput() {
        var fileInput = document.getElementById('fileInput');
        var fileOutputText = "No file chosen.";

        if (fileInput.files.length > 0) {
            fileOutputText = "File chosen: " + fileInput.files[0].name;
        }

        document.getElementById('fileOutput').innerText = fileOutputText;
    }
</script>
-->
</body>
</html>
